.type-3177 {
  background-color: #fff;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.type-3177 .navbar {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.type-3177 .navbar-brand img {
  width: 90px;
  height: 50px;
}
.type-3177 .navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.type-3177 .navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.type-3177 .navbar-nav li {
  padding: 0 15px;
}
.type-3177 .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.type-3177 .form-inline {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.type-3177 .form-inline .form-control {
  border: 1px solid #000;
  border-radius: 0;
  font-style: italic;
  padding-right: 40px;
}
.type-3177 .form-control::placeholder {
  font-weight: bold;
}
.type-3177 .form-inline .btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding-top: 35px;
}
.type-3177 .form-inline .btn i {
  font-size: 18px;
  color: #000;
}
.type-3177 .mobile-nav img {
  display: hidden;
}
@media (max-width: 991px) {
  .type-3177 .navbar-nav,
  .type-3177 .form-inline {
    display: none;
  }
  .type-3177 .mobile-nav {
    display: block !important;
  }
  .type-3177 .mobile-nav img {
    width: 40px;
  }
}
@media (max-width: 767px) {
  .type-3177 .mobile-nav img {
    width: 40px;
    position: absolute;
    top: 22px;
    right: 22px;
  }
  .type-3177 .navbar-brand {
    position: absolute;
    left: 22px;
  }
}
